.env
# Ignore downloaded lecture materials
downloads/
VTOP_Downloads/
token.txt
vtop.txt
services.txt
credentials.txt
.html

# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environments ---
venv/
.venv/
env/
.env/
testing_env
# --- Distribution / Builds ---
build/
dist/
*.egg-info/

# --- IDE Settings ---
.vscode/
.idea/
*.swp
powershell.bat

# --- OS Generated ---
.DS_Store
Thumbs.db
vtop_session.json
credentials.json
token.json